.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    
}
.logo{
    width: 100px;
    padding: 5px;
}
.nav-items > ul{
    display: flex;
    font-size: 20px;
    list-style-type: none;
}
.nav-items > ul > li{
    padding: 10px;
    margin: 10px;
}
.res-container{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    /* justify-content: center; */
    margin-top: 5px;
}
.res-card{
    padding: 5px;
    width: 190px;
    height: 330px;
    
    
}
.res-card:hover{
    cursor: pointer;
    border: 1px solid black;
}
.search{
    padding: 10px;
}
.res-logo{
    width: 100%;
    height: 40%;
}
.filter-btn{
    margin: 10px;
    cursor: pointer;
    
}
.shimmer-container{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
}
.shimmer-cards{
    background-color: #f0f0f0;
    width: 190px;
    height: 330px;
    /* padding: 20px; */
}
.login{
    margin: 10px;
    margin-top: 20px;
    width: 70px;
    height: 20px;
    cursor: pointer;
}
.filter{
    display: flex;
}